<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ConnectMySQLDB" value="localhost"/>
    <add key="DatabaseMySQLDB" value="pillowtex"/>
    <add key="UserMySQLDB" value="robertoguarize"/>
    <add key="PassMySQLDB" value="b9d9t6y7"/>
    <add key="ConnectProdutos" value="http://189.113.4.250:6017/api/millenium!pillow/produtos/listaprodutos"/>
    <add key="ConnectPrecos" value="http://189.113.4.250:6017/api/millenium!pillow/preco/listaprecos"/>
    <add key="ConnectFiliais" value="http://189.113.4.250:6017/api/millenium!pillow/filiais/listafiliais"/>
    <add key="ConnectClientes" value="http://189.113.4.250:6017/api/millenium!pillow/clientes/listaclientes"/>
    <add key="ConnectRepresentantes" value="http://189.113.4.250:6017/api/millenium!pillow/representantes/listarepresentantes"/>
    <add key="ConnectMovSaidas" value="http://189.113.4.250:6017/api/millenium!pillow/movimentacao/listasaidas"/>
    <add key="ConnectMovEntradas" value="http://189.113.4.250:6017/api/millenium!pillow/movimentacao/listaentradas"/>
    <add key="ConnectProdutosEventos" value="http://189.113.4.250:6017/api/millenium!pillow/movimentacao/listaprodutoseventos"/>
    <add key="ConnectPrefaturamentos" value="http://189.113.4.250:6017/api/millenium!pillow/prefaturamentos/listaprefaturamentos"/>
    <add key="ConnectProdutosPrefat" value="http://189.113.4.250:6017/api/millenium!pillow/prefaturamentos/listaprodutosprefat"/>
    <add key="ConnectTipoPedidos" value="http://189.113.4.250:6017/api/millenium/tipos_pedido/lista"/>
    <add key="ConnectPedidosVenda" value="http://189.113.4.250:6017/api/millenium!pillow/pedido_venda/listapedidosvenda"/>
    <add key="ConnectProdutosPedidov" value="http://189.113.4.250:6017/api/millenium!pillow/pedido_venda/listaprodutospedidov"/>
    <add key="ConnectNotasFiscais" value="http://189.113.4.250:6017/api/millenium!pillow/notas_fiscais/listanotasfiscais"/>
    <add key="Data_Inicial" value="01/01/2018"/>
    <add key="Data_Final" value="31/01/2090"/>
    <add key="Authorization" value="Basic YWRtaW5pc3RyYXRvcjp2dGFUUFJAMjAxOSoq"/>
  </appSettings>
</configuration>